/* Add some styling to the page */
      body {
        font-family: Arial, sans-serif;
        color: #333;
        background-image: url('32b04702a2da4699ab378a0e7dcb45ff.jpg');
        background-size: cover;
        background-position: center;
        height:100vh;
        background-attachment: fixed;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: right;
      }
      
      li a {
        font-size: 1.3em;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li.current a, li a:hover, li a:active, li a:focus {
        background-color: #111;
        color:red;
      }
      h1 {
        font-size: 3em;
        text-align: center;
        margin: 75px;
        color: white;
      }
      h2 {
        font-size: 2em;
        text-align: center;
        margin: 100px -100px 100px -100px;
        color: white
      }
      h3 {
        font-size: 1,5em;
        text-align: center;
        margin: 1em 0;
        color: white
      }
      h4 {
        font-size: 1,5em;
        text-align: center;
        margin: 300px 0px 100px 0px;
        color: white
      }
      table {
        border-spacing: 30px;
        font-size: 1em;
        line-height: 1.5;
        margin: 50px -250px 50px -250px;
        color: white;
        padding: 3em;
      }
      p {
        font-size: 1em;
        line-height: 1.5;
        margin: 10px -250px 0px -250px;
        color: white;
        text-align: left;
      }
      
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 1em;
      }
      
      /* Add some styling to the call-to-action button */
      .cta-btn {
        display: inline-block;
        padding: 1em 2em;
        color: white;
        background-color: #5900ff;
        border-radius: 0.25em;
        text-decoration: none;
      }
      
      .cta-btn:hover {
        background-color: #0091ea;
      }
